<h1>Exploration Data Analysis</h1>

<h3> Objectives </h3>
<li>Perform EDA on our data set</li>

<h2>Import Libraries </h2>

In [12]:
# Load our imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from matplotlib import pylab

In [2]:
#initialize our dataset
data = pd.read_csv("astronaut_data/missions.csv")

In [3]:
# examine first few lines of our dataset
data.head(10)

,Unnamed: 0,ID,Company Name,Location,Date,Detail,Status Rocket,Cost,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
5,5,5,CASC,"LC-9, Taiyuan Satellite Launch Center, China","Sat Jul 25, 2020 03:13 UTC","Long March 4B | Ziyuan-3 03, Apocalypse-10 & N...",StatusActive,64.68,Success
6,6,6,Roscosmos,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Thu Jul 23, 2020 14:26 UTC",Soyuz 2.1a | Progress MS-15,StatusActive,48.5,Success
7,7,7,CASC,"LC-101, Wenchang Satellite Launch Center, China","Thu Jul 23, 2020 04:41 UTC",Long March 5 | Tianwen-1,StatusActive,NaN,Success
8,8,8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA","Mon Jul 20, 2020 21:30 UTC",Falcon 9 Block 5 | ANASIS-II,StatusActive,50.0,Success
9,9,9,JAXA,"LA-Y1, Tanegashima Space Center, Japan","Sun Jul 19, 2020 21:58 UTC",H-IIA 202 | Hope Mars Mission,StatusActive,90.0,Success

In [4]:
data = data.drop(columns='Unnamed: 0')

In [10]:
# examine rows and columns
print(data.shape)
# basic stats of our data
print(data.describe())
# understand our dtypes and what we're working with (time series, int, object, float, etc.)
print(data.info())
# total of each dtype
print(data.dtypes.value_counts())

(4324, 8)
                ID
count  4324.000000
mean   2161.500000
std    1248.375611
min       0.000000
25%    1080.750000
50%    2161.500000
75%    3242.250000
max    4323.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              4324 non-null   int64
 1   Company Name    4324 non-null   object
 2   Location        4324 non-null   object
 3   Date            4324 non-null   object
 4   Detail          4324 non-null   object
 5   Status Rocket   4324 non-null   object
 6    Cost           964 non-null    object
 7   Status Mission  4324 non-null   object
dtypes: int64(1), object(7)
memory usage: 270.4+ KB
None
object    7
int64     1
dtype: int64

<h2>Cleaning Data </h2>

In [24]:
# we see an extra white space infront of Cost, let's fix this
data = data.rename(columns={' Cost': 'Cost'})

In [29]:
# examine any missing data
(data.isnull().sum().sort_values(ascending=False)/len(data))*100

Cost              77.705828
ID                 0.000000
Company Name       0.000000
Location           0.000000
Date               0.000000
Detail             0.000000
Status Rocket      0.000000
Status Mission     0.000000
dtype: float64

In [37]:
# we see our Date column is an object, let's change this it datetime
# overwriting data after changing format
data["Date"]= pd.to_datetime(data["Date"],utc=True)
# info of data showing the change 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              4324 non-null   int64
 1   Company Name    4324 non-null   object
 2   Location        4324 non-null   object
 3   Date            4324 non-null   datetime64[ns, UTC]
 4   Detail          4324 non-null   object
 5   Status Rocket   4324 non-null   object
 6   Cost            964 non-null    object
 7   Status Mission  4324 non-null   object
dtypes: datetime64[ns, UTC](1), int64(1), object(6)
memory usage: 270.4+ KB

In [41]:
print(len(data))
data.duplicated() # Check whether a row is a duplicated version of a previous row
data.duplicated().sum() # Compute the number of duplicated rows

4324

0