In [1]:
import pandas as pd
import time
import tweepy

In [2]:
from tweepy.auth import OAuthHandler

# auth
consumer_key= "Aab7LOGZyppaFPNDQCdZ44yK7"
consumer_secret = "CYdlRUzGTAPVrQdaa0XfuoTeDNyo1EHb2AuDsoevmlwWTYUkFM"
access_token = "2182508549-jVF957pWQp2znpsd0kw54soL7TZkFwrJsQTusNV"
access_token_secret= "HW9mwAvbO4KnwgZmk7C4LZa2mKqvTorHPokLeSHRF0FKE"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret )
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [3]:
live_tweets = []
# x_list = []
def grab_tweets(tickers):
    count = 20
    twitter_counter = range(5)
#     after every range ( 0iterations-> 3seconds, 1itersations -> 3seconds, 2iteratoins-> 3seconds, 3->3seconds)
    for x in twitter_counter:
        time.sleep(5)
        tweets = api.search_tweets(q ="$" + tickers, count = count)
        json_f_tweets = [r._json for r in tweets]
        for tweet in json_f_tweets:
#             live_tweets.append(tweet)
            live_tweets.append({'created_at': tweet['created_at'], 'full_text': tweet['text'], 'id': tweet['id']})
        if not tweets:
            print('Could not find any more tweets!')
        last_id = tweet
        tweet_df = pd.DataFrame(live_tweets, columns=['created_at', 'full_text','id'])
    return tweet_df

In [4]:
"""This problem is avoided by setting the since_id parameter to the greatest ID of all the Tweets your application 
has already processed. Unlike max_id the since_id parameter is not inclusive, so it is not necessary to adjust 
the ID in any way. As shown in the following image, Twitter will only return Tweets with IDs higher than the
value passed for since_id.

"""

'This problem is avoided by setting the since_id parameter to the greatest ID of all the Tweets your application \nhas already processed. Unlike max_id the since_id parameter is not inclusive, so it is not necessary to adjust \nthe ID in any way. As shown in the following image, Twitter will only return Tweets with IDs higher than the\nvalue passed for since_id.\n\n'

In [5]:
len(live_tweets)#looking for the since_id on our tweets

0

In [6]:
grab_tweets('ETH')

,created_at,full_text,id
0,Wed Oct 27 05:18:02 +0000 2021,RT @mrjittagarn: @mentalist420 @Godriguezart 0...,1453229480600903681
1,Wed Oct 27 05:18:02 +0000 2021,RT @HashBlasterNFTs: üî• Giving away $200 $ETH üî•...,1453229480005312515
2,Wed Oct 27 05:18:01 +0000 2021,RT @JPEGwealthy: Sorry I forgot to pick a winn...,1453229475563556874
3,Wed Oct 27 05:18:00 +0000 2021,"üêªüí∞$1,700,000 $ETH SHORT @$4291.79 | 10/27 05:1...",1453229472094826498
4,Wed Oct 27 05:18:00 +0000 2021,$Doge $Eth $Btc &gt; Fiat,1453229471834726417
...,...,...,...
95,Wed Oct 27 05:18:07 +0000 2021,RT @KeVinOramas4: @nftanothersigma @criis_cian...,1453229502264393745
96,Wed Oct 27 05:18:07 +0000 2021,RT @MiaPomp: What an awesome first week $MISTY...,1453229501584924676
97,Wed Oct 27 05:18:07 +0000 2021,RT @JPEGwealthy: Sorry I forgot to pick a winn...,1453229501081657344
98,Wed Oct 27 05:18:06 +0000 2021,RT @MiaPomp: What an awesome first week $MISTY...,1453229499328483336
99,Wed Oct 27 05:18:06 +0000 2021,RT @Wowswap_io: üö® WOWswap Trading Competition ...,1453229499286495243

In [7]:
dat_frame_inspection = pd.DataFrame(live_tweets, columns=['created_at', 'full_text', 'id'])

In [8]:
dat_frame_inspection.duplicated().head(120)

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [9]:
dat_frame_inspection.duplicated().sum()

59

In [21]:
dat_frame_inspection.head(61)

,created_at,full_text,id
0,Wed Oct 27 05:18:02 +0000 2021,RT @mrjittagarn: @mentalist420 @Godriguezart 0...,1453229480600903681
1,Wed Oct 27 05:18:02 +0000 2021,RT @HashBlasterNFTs: üî• Giving away $200 $ETH üî•...,1453229480005312515
2,Wed Oct 27 05:18:01 +0000 2021,RT @JPEGwealthy: Sorry I forgot to pick a winn...,1453229475563556874
3,Wed Oct 27 05:18:00 +0000 2021,"üêªüí∞$1,700,000 $ETH SHORT @$4291.79 | 10/27 05:1...",1453229472094826498
4,Wed Oct 27 05:18:00 +0000 2021,$Doge $Eth $Btc &gt; Fiat,1453229471834726417
...,...,...,...
56,Wed Oct 27 05:17:43 +0000 2021,RT @cryptogems555: #HATAKE with a bull flag fo...,1453229401924161538
57,Wed Oct 27 05:17:42 +0000 2021,"@withFND Hello everyone, I present to you my N...",1453229397897531392
58,Wed Oct 27 05:17:42 +0000 2021,RT @UpBotscom: Our native token $UBXT just mad...,1453229396815405069
59,Wed Oct 27 05:17:38 +0000 2021,RT @cryptogems555: #HATAKE with a bull flag fo...,1453229378972885000
60,Wed Oct 27 05:18:02 +0000 2021,RT @mrjittagarn: @mentalist420 @Godriguezart 0...,1453229480600903681